.header_area {
	background: #17181b;
}
.footer-contact-area {
    background: #17181b;
}

.footer-contact-area .line-shape {
    margin-left: 0;
}

.footer-contact-area .heading-text > p {
    margin-top: 50px;
}

.footer-contact-area .heading-text {
    margin-bottom: 50px;
}

.form-control  {
    border: 0;
}

.address-text > p > span,
.phone-text > p > span,
.email-text > p > span {
    color: #ffc107;
}

.btn.submit-btn:hover {
    background: #fff;
    color: #000;
}

.btn.btn-success-c {
    background: #28a745;
}

.btn.btn-danger-c {
    background: #dc3545;
}

.section-heading > h2 {
    font-weight: 300;
    color: #fff;
    font-size: 48px;
    margin: 0;
}

.btn.submit-btn:hover {
    background: #fff;
    color: #000;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

p {
    color: #fff;
}

#name, #email, #message , #password, 
#remail, #username, #country, #cpassword, 
#first_name, #last_name, #gender, #photo, 
#city , #postal_code{
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 31px;
    border: 1px solid #222;
}

select.form-control:not([size]):not([multiple]) {
    height: 52px;
}

small {
    font-size: 11px;
}

.form-control {
    line-height: 1;
}

.pd10 {
    padding-top: 10px;
}

.contact_from {
    padding-bottom: 20px;
    padding-top: 20px;
}