.section_padding_100 {
    padding-top:  220px;
}

.btn.submit-btn {
    background: #ffc107;
    height: 48px;
    min-width: 185px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 30px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .menu_area .navbar-brand {
        font-size: 42px;
    }
    .slide-text {
        font-size: 15px;
    }
    .container-c {
        max-width: 900px;
    }
    .menu_area #nav .nav-link {
        padding: 35px 7.5px;
    }
    .sing-up-button > a {
        color: #fff;
        height: 40px;
        min-width: 152px;
        line-height: 36px;
        font-size: 14px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
  
}

@media (min-width: 320px) and (max-width: 767px) {
    .header_area {
        padding: 0;
    }
    .slide-text {
        font-size: 15px;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
    }
    .header_area.sticky {
        height: 50px;
    }
    .container-c {
        max-width: 300px;
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 5px 15px;
    }
    #ca-navbar {
        padding: 20px;
        border-radius: 3px;
        background-color: #131010d1;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
}

/* Responsive Styles for various devices */
@media (min-width: 1600px) {
   
}

@media (max-width: 1199px) {
    .text-s-mobile {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .text-s-mobile {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .text-s-mobile {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .text-s-mobile {
        font-size: 10px;
    }
    .carousel-caption {
        padding-top: 0; 
        padding-bottom: 0;
    }
    .video-section {
        padding-top: 15px;
    }
    .text-video {
        font-size: 25px;
    }
    .video {
        height: 200px;
    }
    .video-area {
        height: 250px;
    }
    .dropdown-menu.show {
        margin-left: 15px;
        margin-top: -3px;
        background: #131010d1;
    }
    .section_padding_100_70 {
        padding-top: 30px;
        padding-bottom: 0;
    }    
    .plan-m {
        margin-bottom: 60px;
    }
    .footer-menu ul li a {
        font-size: 12px;
    }
    .section_padding_70 {
        padding-bottom: 10px;
    }
    .section-heading {
        margin-top: -70px;
    }
    .section_padding_100_90 {
        padding-bottom: 0;
    }
    .section_padding_100 {
        padding-top: 90px;
        padding-bottom: 0;
    }
    .page-m {
        padding-top: 10px;
    }
    .btn.submit-btn {
        min-width: 140px;
    }
}

@media (max-width: 360px) {
    .btn.submit-btn {
        min-width: 140px;
    }
    .text-s-mobile {
        font-size: 10px;
    }
    .section_padding_100_90 {
        padding-bottom: 0;
    }
    .carousel-caption {
        padding-top: 0; 
        padding-bottom: 0;
    }
    .section_padding_100_70 {
        padding-top: 30px;
    } 
    .video-section {
        padding-top: 15px;
    }
    .text-video {
        font-size: 25px;
    }
    .dropdown-menu.show {
        margin-left: 15px;
        margin-top: -3px;
    }
    .video-area {
        height: 250px;
    }
    .section_padding_100_70 {
        padding-top: 30px;
        padding-bottom: 0;
    }   
    .section_padding_70 {
        padding-bottom: 10px;
    } 
    .plan-m {
        margin-bottom: 60px;
    }
    .footer-menu ul li a {
        font-size: 12px;
    }
    .section_padding_100 {
        padding-top: 90px;
        padding-bottom: 0;
    }
    .page-m {
        padding-top: 10px;
    }
}